<html ng-app>
	<head>
		<title>Network Science</title>
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="main.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Indie+Flower">
	</head>
	<body>
		<div class="header">
			<div class="site-title"><strong>Hottest Twitter</strong></div>
		</div>
		<div ng-controller="DataCtrl">
			<div class="home-wrapper">
				<div class="right">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									Barack Obama
								</a>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['BarackObama']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									Android
								</a>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['Android']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									Bill Gates
								</a>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['Bill Gates']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
									DropBox
								</a>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['Dropbox']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
									ESPN
								</a>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['ESPN']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
									Google
								</a>
							</div>
							<div id="collapseSix" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['Google']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
									iTunesMusic
								</a>
							</div>
							<div id="collapseSeven" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['iTunesMusic']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
									Jimmy Fallon
								</a>
							</div>
							<div id="collapseEight" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['jimmyfallon']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
									Lebron James
								</a>
							</div>
							<div id="collapseNine" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['LBJ']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
									Leonardo Dicaprio
								</a>
							</div>
							<div id="collapseTen" class="panel-collapse collapse">
								<div class="panel-body">
									<div ng-repeat="tweet in twitterDataSet['LeoDiCaprio']">
										<div class="twitter-wrapper" id="{{tweet['tweet_id']}}" ng-click="show(tweet['tweet_id'])">
											<div class="twitter-profile-photo-container">
												<img class="twitter-profile-photo" src="{{tweet['profile_pic']}}">
											</div>
											<div class="tweet-container">
												<div class="twitter-name-text-box">
													<div class="twitter-name">
														{{tweet.name}}
													</div>
													<div class="twitter-name-text">
														(@{{tweet['screen_name']}})
													</div>
													<div class="date-text">
														{{tweet['create_time']}}
													</div>
												</div>
												<div class="description-text-box">
													<div class="description-text">
														{{tweet['text']}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default panel-width">
							<div class="panel-heading panel-thin">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseX">
									Yao Ming
								</a>
							</div>
							<div id="collapseX" class="panel-collapse collapse">
								<div class="panel-body">
									This is test 3
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="left">
					<div class="map-wrapper">
						<div id="map"></div>
					</div>
				</div>

			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="bootstrap.min.js"></script>
		<script type="text/javascript" src="data.js"></script>
	</body>
</html>

